*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
  background-color: lightpink;
  color: brown;
  font-family: Arial;
}
.card {
  width: 300px;
  border: 3px solid rosybrown;
  padding: 5px; 
  margin: 20px auto;
}
img {
  width: 100%;
}
h3 {
  text-align: center;
  margin-top: 10px;
}
p {
  text-align: justify; 
  margin-top: 20px;
}
span {
  text-align: right;
  display: block;
  margin-top: 10px;
}
button {
  display: block; 
  margin-top: 10px;
  padding: 10px 20px;
  background-repeat: 5px;
  bottom: none;
  background-color: rgb(226, 109, 181);
  color: rgb(204, 61, 144);
  font-style: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(213, 139, 219);
  bottom: 1px;
}